$bgColor: #bfbfbf;
body{
  background-color: $bgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: flex-start;
}
.main{
  min-height:100vh;
}

@keyframes test {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}